{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="О кошках">
    <meta name="author" content="Nikolay">
    <title>О кошках</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/bootstrap-4.5.3-dist/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'main/images/siamese.png' %}" type="image/png">


    <!-- Custom styles for this template -->
    <link href="{% static "main/css/main.css" %}" rel="stylesheet">
</head>
<body>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container ">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Мартьянов Николай Владимирович</h4>
                    <p class="text-muted">Проба пера &#128394; простенький сайт о братьях наших меньших</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white text-right">Контакты</h4>
                    <ul class="list-unstyled text-right">
                        <li><a href="https://instagram.com/marnikvla/" target="_blank" class="text-white">Instagram</a>
                        </li>
                        <li><a href="https://github.com/MarNikVla" target="_blank" class="text-white">GitHub</a></li>
                        <li><a href="mailto:condor52@yandex.ru" target="_blank" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>
<main role="main">
    <section class="jumbotron text-center my-0">
        <div class="container">
            <h1>О кошках</h1>
            <p class="lead text-muted">Одомашнивание кошек произошло 5-6 тысяч лет назад, но истиное признание к ним
                пришло только
                с появлением Интернета .</p>
            <p>
                <a href="//yandex.ru/images/search?text={{ cats_breed }}" target="_blank" id="cats_breeds"
                   class="btn btn-primary my-2">Случайная порода кошек</a>
                <a href="//yandex.ru/images/search?text={{ cats_friend }}" target="_blank" id="cats_friends"
                   class="btn btn-secondary my-2">Случайный друг кота</a>
                <a href="//yandex.ru/images/search?text={{ cats_enemy }}" target="_blank" id="cats_enemies"
                   class="btn btn-secondary my-2">Случайный враг кота</a>
            </p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="//ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B9%D0%BD-%D0%BA%D1%83%D0%BD"
                           title="Мэйн-кун" target="_blank">
                            <img src="{% static 'main/images/MaineCoons.jpg' %}" id="rotate-image" class="img-fluid"
                                 alt="Мейн-кун">
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                <a href="//ru.wikipedia.org/wiki/%D0%9C%D0%B5%D0%B9%D0%BD-%D0%BA%D1%83%D0%BD"
                                   title="Мэйн-кун" target="_blank">Мейн-ку́н </a> — крупнейшая порода кошек.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary rotate-left-button">по
                                        часовой
                                    </button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary rotate-right-button">
                                        против часовой
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a href="//ru.wikipedia.org/wiki/%D0%A1%D0%BA%D0%B8%D1%84-%D1%82%D0%BE%D0%B9-%D0%B1%D0%BE%D0%B1"
                           title="Той боб" target="_blank">
                            <img src="{% static 'main/images/Toj-bob.jpg' %}" id="flip-image" class="img-fluid"
                                 alt="Той боб">
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                <a href="//ru.wikipedia.org/wiki/%D0%A1%D0%BA%D0%B8%D1%84-%D1%82%D0%BE%D0%B9-%D0%B1%D0%BE%D0%B1"
                                   title="Скиф-той-боб" target="_blank">Той боб </a> — самая маленькая порода кошек.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary flip-horizontally-button">Rigth-Left
                                    </button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary flip-vertically-button">Up-Down
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <a
                                title="Русская голубая" target="_blank">
                            <img src="{% static 'main/images/Russian blue0.jpg' %}" id="move-image"
                                 class="img-fluid card-img-top" alt="Русская голубая">
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                <a href="//ru.wikipedia.org/wiki/
                                %D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B0%D1%8F_%D0%B3%D0%BE%D0%BB%D1%83%D0%B1%D0%B0%D1%8F_%D0%BA%D0%BE%D1%88%D0%BA%D0%B0"
                                   title="Русская голубая" target="_blank">Русская голубая </a> - наш земляк в кошачьем
                                мире.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary image-move">Следуюшее
                                        изображение
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Шаблон был взят с <a href="https://getbootstrap.com/docs/4.5/examples/album/"
                                title="Album Bootstrap" target="_blank">getbootstrap.com</a>,</p>
        <p>Для получения дополнительной информации посетите домашнюю страницу проекта <a
                href="https://getbootstrap.com/" title="Bootstrap main" target="_blank"> Bootstrap</a> или прочитайте <a
                href="https://getbootstrap.com/docs/4.5/getting-started/introduction/" title="Get started"
                target="_blank">Руководство по началу использования</a>.</p>
    </div>
</footer>
<script src="{% static 'main/bootstrap-4.5.3-dist/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'main/bootstrap-4.5.3-dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/root_rotate.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

</body>
</html>
